* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    background: #293f50;
    color: #888;
}

.logo {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover,
.logo a:focus {
    color: #648880;
}

.tagline {
    font-weight: 100;
    text-align: center;
    color: #648880;
}

.nav-main {
    text-align: center;
}

.nav-main li {
    display: inline;
    color: #fff;
    list-style: none;;
    font-size: 1rem;
}

.nav-main a {
    color: #fff;
    text-decoration: none;
    line-height: 1.3;
}

.nav-main a:hover,
.nav-main a:focus {
    color: #648880;
}

@media (max-width: 380px) {
    .logo {
        margin: 20px;
    }

    .logo a:hover {
        color: #648880;
    }

    .nav-main ul {
       padding: 0;
       
    }

    .nav-main li {
        padding: 0 4px;
    }
}

@media (min-width: 380px) {
    .nav-main ul {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 700px) {
    header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px 100px 100px;  
    }

    .nav-main {
        grid-column: 4 / 5; 
        padding-left: 0;     
    }
        
    .tagline {
       margin-top: 60px;
        grid-column: 4 / 6;
    }

    .nav-main li {
        padding: 0 10px;
    }

    .logo {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        text-align: left;
        padding-top: 24px;
        line-height: 1.2;
        font-size: 2.5rem;
    }
}

@media (min-width: 940px) {
    header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px 100px 100px;  
    }

    .nav-main {
        grid-column: 4 / 7; 
        padding-right: 150px;
        padding-left: 20px;     
    }
        
    .tagline {
       margin-top: 60px;
        grid-column: 4 / 7;
    }

    .nav-main li {
        padding: 0 10px;
    }

    .logo {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        text-align: left;
        padding-top: 24px;
        line-height: 1.2;
        font-size: 2.5rem;
    }
}

.hero {
    padding-top: 20px;
    text-align: center;
}

.hero h2,
.hero p {
    line-height: 1.4;
    font-weight: 100;
    letter-spacing: 1px;
}

.hero h2 {
    color: #648880;
    text-transform: capitalize;
    margin: 10px 20px;
}

.hero p {
    margin: 0 20px 50px;
}

.btn-hero {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #293f50;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: -10px 0;
    padding: 20px 30px;
    text-decoration: none;
    cursor: pointer;
}

button.btn-hero:hover,
button.btn-hero:focus {
    color: #648880;
    background: #fff;
    transition:  all .5s;
}


@media (min-width: 700px) {
    .hero {
        max-width: 100vw;
        margin-top: -6em;
    }

    .btn-hero {
        padding: 25px 35px;
    }
}