* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    background: #293f50;
    color: #888;
    overflow-x: hidden;
}

.logo {
    border-top: 4px solid #648880;
    font-weight: 100;
    text-align: center; 
    letter-spacing: -1px; 
}

.logo a {
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.logo a:hover,
.logo a:focus {
    color: #648880;
}

.tagline {
    font-weight: 100;
    text-align: center;
    color: #648880;
}

.nav-main {
    text-align: center;
}

.nav-main li {
    display: inline;
    color: #fff;
    list-style: none;;
    font-size: 1rem;
}

.nav-main a {
    color: #fff;
    text-decoration: none;
    line-height: 1.3;
}

.nav-main a:hover,
.nav-main a:focus {
    color: #648880;
}

@media (max-width: 380px) {
    .logo {
        margin: 20px;
    }

    .logo a:hover {
        color: #648880;
    }

    .nav-main ul {
       padding: 0;
       
    }

    .nav-main li {
        padding: 0 4px;
    }
}

@media (min-width: 380px) {
    .nav-main ul {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 700px) {
    header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px 100px 100px;  
    }

    .nav-main {
        grid-column: 4 / 5; 
        padding-left: 0;     
    }
        
    .tagline {
       margin-top: 60px;
        grid-column: 4 / 6;
    }

    .nav-main li {
        padding: 0 10px;
    }

    .logo {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        text-align: left;
        padding-top: 24px;
        line-height: 1.2;
        font-size: 2.5rem;
    }
}

@media (min-width: 940px) {
    header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px 100px 100px;  
    }

    .nav-main {
        grid-column: 4 / 7; 
        padding-right: 150px;
        padding-left: 20px;     
    }
        
    .tagline {
       margin-top: 60px;
        grid-column: 4 / 7;
    }

    .nav-main li {
        padding: 0 10px;
    }

    .logo {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        text-align: left;
        padding-top: 24px;
        line-height: 1.2;
        font-size: 2.5rem;
    }
}

.hero {
    padding-top: 20px;
    text-align: center;
}

.hero h2,
.hero p {
    line-height: 1.4;
    font-weight: 100;
    letter-spacing: 1px;
}

.hero h2 {
    color: #648880;
    text-transform: capitalize;
    margin: 10px 20px;
}

.hero p {
    margin: 0 20px 50px;
}

.btn-hero {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #293f50;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: -10px 0;
    padding: 20px 30px;
    text-decoration: none;
    cursor: pointer;
}

button.btn-hero:hover,
button.btn-hero:focus {
    color: #648880;
    background: #fff;
    transition:  all .5s;
}


@media (min-width: 700px) {
    .hero {
        max-width: 100vw;
        margin-top: -6em;
    }

    .btn-hero {
        padding: 25px 35px;
    }
}

.grid {
    background: #fff;
    margin-top: 70px;
    padding: 10px;
}

img {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 5px;
}

.section1,
.section2,
.section3 {
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
    text-align: center;
}

.section1 p,
.section2 p,
.section3 p {
    font-size: 1.1rem;
    font-weight: 100;
}

.section1 h5,
.section2 h5,
.section3 h5 {
    font-size: .95rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
}

.section1 h3,
.section2 h3,
.section3 h3 {
    font-size: 1.3rem;
    font-weight: 100;
    color: #648880;
    text-transform: capitalize;
}

.section1 a,
.section2 a,
.section3 a {
    text-decoration: none;
}

.link h3:hover {
    color: rgb(167, 164, 164);
}

@media (min-width: 580px){
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 50px;
    }

    .section1,
    .section2,
    .section3 {
        text-align: left;
    }
}

@media (min-width: 930px) {
    .grid {
        padding: 30px 80px;
    }
}


footer {
    text-align: center;    
}

.nav-footer ul {
    margin: 0;
    padding: 10px 20px;
}

.nav-footer li {
    margin: 0 10px;
    display: inline;
    list-style: none;
}

.nav-footer a {
    font-size: .85rem;
    color: #fff;
    text-decoration: none;
}

.nav-footer a:hover {
    color: #648880;
}

@media (min-width: 580px) {
    footer {
        display: grid;
        grid-template-columns: repeat( auto-fit, 1fr 1fr);
    }

    .nav-footer ul {
       padding: 20px 0;
    }

    .nav-footer li {
        margin: 0 15px;
    }
}

/* speakers */

.speakers {
    margin-bottom: 35px;
}

.hero-speakers {
    text-align: center;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    
}

.hero-speakers h1 {
    font-size: 1.9rem;
    font-weight: 100;
    letter-spacing: -1px;
    color: #648880;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 5px;
}

.hero-speakers p {
    font-size: 1.1rem;
    font-weight: 100;
    padding-bottom: 30px;    
}

.content {
    display: grid;
    line-height: 1.4;
    padding: 20px;
}

@media (min-width: 699px) {
    .speakers {
        height: 25vh;
    }

    .content {
     padding-left: 40px;
     padding-right: 40px;
    }

    .hero-speakers h1 {
        font-size: 2rem;
    }

    .hero-speakers p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1084px) {
    .content {
        display: grid;
        margin: auto;
        width: 960px;
    }
}

.grid-speakers {
    padding-bottom: 70px;
}

.speaker {
    text-align: center;
    background: #fff;
    margin-top: -30px;
    padding: 20px;
    font-size: .95rem;
    font-weight: 100; 
    line-height: 1.2; 
}

.speaker h2 {
    padding-top: 30px;
}

.speakers-section {
    background: #fff;
}

aside {
    background: #fff;
    display: grid;
    place-items: center;
  
}

.speaker-info {
    display: block; 
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.speaker-info img {
    border-radius: 50%;
    width:100%;
    max-width: 200px;
    height:100%;
    padding: 10px;
    margin-top: -20px;
}

.speaker h2 {
    font-size: 1.4rem;
    font-weight: 100;
    color: #648880;
    text-transform: capitalize;
    margin-bottom: 0;
}

.speaker h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #a9b2b9;
    text-transform: uppercase;
    margin-top: 7px;
    letter-spacing: -1px;
}

div .about {
    font-size: .85rem;
    font-weight: 400;
    color: #a9b2b9;
    text-transform: uppercase;
}

.speaker-info ul {
    text-align: center;
    list-style: none;
    margin: 10px;
    padding: 0 20px;
}

.speaker-info li {
    padding-bottom: 10px;
}

.speaker-info a {
    color: #648880;
    text-decoration: none;
}

.this {
    margin-left: -13px;
}

@media (min-width: 600px) {
    .grid-speakers {
        display: grid;
        grid-template-columns: 65% 35%;
    }

    .speaker {    
        text-align: left;
        padding-left: 70px;   
    }

    .speaker-info {
        margin: 0 40px 0 -20px;  
        border-radius: 5px;
        box-sizing: content-box;       
        height: 80px;
        width: 160px;
        border: 1px solid #dfe2e5;
        padding: 45px;
    }

    aside {
        background: #fff;
        font-size: 1rem;
        text-align: center;
        margin-top: -30px;
        margin-left: -0px;
    }

    .speaker-info img {
        width: 150px;
        height: 150px;
        margin-top: -80px;
    }

    .speaker-info li {
        font-size: .80rem;
        line-height: 1px;
        margin-top: -5px;
       margin-bottom: 10px;
        
    }
}

@media (min-width: 800px) {
    .speaker-info {
        width: 170px;
    }
}

@media (min-width: 1100px) {
    .speaker-info {
        margin-left: -70px;
    }

    .speaker {
        margin-left: 70px;
    }

    .grid-speakers {
        padding-top: 30px;
    }
}

footer {
    padding: 15px;
}

small {
    font-size: .85rem;
}

/* schedule */

.schedule {
    margin-bottom: -80px;
}

.hero-schedule {
    text-align: center;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
}

.hero-schedule h1 {
    font-size: 1.9rem;
    font-weight: 100;
    letter-spacing: -1px;
    color: #648880;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 5px;
}

.hero-schedule p {
    font-size: 1.1rem;
    font-weight: 100;
    padding-bottom: 30px;    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 1rem;
    font-weight: 100;
    text-transform: capitalize;
    color: #648880;
    border: 1px solid #fff;
}

time {
    font-size: .85rem;
    font-weight: 400;
    color: #a9b2b9;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

td {
    font-size: .80rem;
    font-weight: 100;
    padding: 10px;
    width: 40%;
}

h4 {
    font-size: 1rem;
    font-weight: 100;
    color: #648880;
}

a {
    font-size: .85rem;
    color: #888;
    text-decoration: none;
    text-transform: capitalize;
}

@media (min-width: 360px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    tr {
        border-bottom: 1px solid #dfe2e5;
    }

    td {
        padding: 15px;
    }

    a {
        font-size: .75rem;
    }

    h4 {
        margin: 0;
        padding-bottom: 5px;
    }

    h4,
    th {
        font-size: .95rem;
    }

    time {
        font-size: .80rem;
    }
}

@media (min-width: 680px) {
    h4,
    th {
        font-size: 1.2rem;
    }

    td {
        padding: 20px 0;
    }

    td,
    time,
    a {
        font-size: .95rem;
    }

    .container {
        padding: 20px 100px;    
    }
}

@media (min-width: 925px) {
    .container {
        padding: 20px 200px;
    }
}
